/* Custom layout styles */
#render .background {
  position: absolute;
  top: 0;
  left: 840px;
  width: 1080px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#render header {
  position: absolute;
  top: 20px;
  left: 880px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 143pt;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0 0 10px black;
}

#supporters {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 250px;
  left: 880px;
  height: 800px;
  width: 1000px;
  overflow: hidden;
  gap: 2px 40px;
}

.name {
  font-size: 60pt;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #f82350;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0 0 5px black;
  text-wrap: nowrap;
}
